* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

.container {
    width: 50vw;
    height: min-content;
    background-color: white;
    border-radius: 15px;
    padding: 25px;

}

.box {
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box input {
    width: 85%;
    font-size: 3vh;
    text-transform: capitalize;
    color: black;
    background-color: rgb(201, 248, 232);
    padding: 10px 10px;
    border-radius: 10px;
}

.box input::placeholder {
    color: black;
    font-family: sans-serif;
}

.box button {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(201, 248, 232);
}

.box button:hover {
    background-color: rgb(190, 188, 188);
}

.weatherbody {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 10px;
}

.weatherbody img {
    width: 60%;
}

.weatherbox {
    margin-block: 20px;
    text-align: center;
}

.weatherbox .temp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

.weatherbox .temp sup {
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

s .weatherbox .desc {
    font-size: 30px;
    font-weight: 700;
}

.weatherdetails.humidity {
    color: black;
}

.weatherdetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.humidity {
    display: flex;
    align-items: center;
}

.wind {
    display: flex;
    align-items: center;
}

.humidity {
    margin-left: 20px;
}

.wind {
    margin-right: 20px;
}

.weatherdetails .text {
    margin-left: 10px;
    font-size: 16px;
}

.text span,
p {
    font-size: 15px;
    font-weight: 600;
}

.location-not-found {
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found img {
    width: 80%;
}

.location-not-found h1 {
    font-size: 25px;
    margin-block-end: 15px;
}